{% extends "base.html" %}

{% block create_config %}
    <div style="width: 60%; margin: 25px auto 25px auto;">
        <h1 style="text-align: center;">Create new configuration</h1>
        <p>Separate multiple values by comma.</p>
        <form action="/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Speichern" class="btn btn-primary" style="float: right; margin-top: 20px; margin-bottom:25px;"/>
        </form>
    </div>
{% endblock %}